
.hourglass {
  width: 100px;
  height: 150px;
  position: relative;
  margin: 20px auto;
}

.top, .bottom {
  width: 100%;
  height: 50%;
  position: relative;
  overflow: hidden;
  background: #f0f0f0;
}

.top {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  transform: rotate(180deg);
}

.bottom {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.top::before, .bottom::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid #ccc;
  box-sizing: border-box;
}

.top::before {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom: none;
}

.bottom::before {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top: none;
}

.sand {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #c2b280; /* Sand color */
  transition: height 1s linear;
}
